.body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: black;
}

.title_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#header {
  position: absolute;
  top: 32px;
  left: 160px;
  z-index: 2;
  font-family: "Georgia", serif;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: left;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.subheading {
  font-family: "Georgia", serif;
  color: black;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  max-width: 800px;
  margin: 10px auto 40px auto;
  margin-top: 200px;
  padding: 0 20px;
}

/* Allocates space between headers and button/image pairs, styles titles */
.operations_with_title h2,
.properties_with_title h2,
.factorizations_with_title h2 {
    font-family: "Georgia", serif;
    font-weight: bold;
    color: 0xFFFFFF;
    font-size: 32px;
    text-align: center;
    padding: 10px;
}

.operations_with_title,
.properties_with_title,
.factorizations_with_title {
  border: RGB(150, 200, 255) 5px solid;
}

.operations,
.properties,
.factorizations {
    /* Font and color */
    font-family: "Monaco", monospace;
    color: 0xFFFFFF;
    font-size: 20px;
    text-align: center;

    /* Alligns items in center aligned rows within their respective containers */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    /*Ensures the sections do not overlap with each other */
    padding: 10px 10px;
    margin-top: 10px;
}

/* Allocates space between each button/image pair */
.operations div,
.properties div,
.factorizations div {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

/* Styles the images in the 3 main sections */
.operations img,
.properties img,
.factorizations img {
    display: block;
    margin: auto;
    width: 144px;
    height: auto;
}

/* Styles the buttons in the 3 main sections */
.operations button,
.properties button,
.factorizations button {
    /* Font and color */
    font-family: "Georgia", serif;
    font-weight: bold;
    color: white;
    background-color: RGB(150, 200, 255);
    border: RGB(135, 185, 240) 5px solid;
    border-radius: 10px;

    /* Space between button and image; space between borders and text */
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 16px;

    /* Cursor changes when hovering over button */
    cursor: pointer;
}

.footer{
    font-family: "Monaco", monospace;
    color: 0xFFFFFF;
    font-size: 20px;
    position: absolute;
    text-align: center;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
}