.body{
    font-family:'Times New Roman', Times, serif;
    background-color: #B4CFB4;
    margin: 0;
    padding: 0;
    color: black;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3f7b3f;
    transform: rotate(45deg);
    position: absolute;
    z-index: 1;
}

#header {
    font-family: "Times New Roman", serif;
    color: white;
    font-size: 40px;
    position: absolute;
    z-index: 1000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 50px;
    left: 50px;
}

.subheading{
    font-family: "Monaco", monospace;
    color: 0xFFFFFF;
    font-size: 16px;
    text-align: center;
    margin-top: 20px; 
}

.operations,
.properties,
.factorizations {
    /* Font and color */
    font-family: "Monaco", monospace;
    color: 0xFFFFFF;
    font-size: 20px;
    text-align: center;
    background-color: 0x000000;

    /* Alligns items in center aligned rows within their respective containers */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    /*Ensures the sections do not overlap with each other */
    padding: 30px 20px;
    margin-top: 30px;
}

/* Allocates space between headers and button/image pairs */
.operations_with_title h2,
.properties_with_title h2,
.factorizations_with_title h2 {
    padding: 20px;
}

/* Allocates space between each button/image pair */
.operations div,
.properties div,
.factorizations div {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

/* Styles the images in the 3 main sections */
.operations img,
.properties img,
.factorizations img {
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
}

/* Styles the buttons in the 3 main sections */
.operations button,
.properties button,
.factorizations button {
    /* Font and color */
    font-family: "Monaco", monospace;
    background-color: lightblue;
    border: blue 1px solid;

    /* Space between button and image; space between borders and text */
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 20px;

    /* Cursor changes when hovering over button */
    cursor: pointer;
}

.footer{
    font-family: "Monaco", monospace;
    color: 0xFFFFFF;
    font-size: 20px;
    position: absolute;
    text-align: center;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
}